page-principal {
  .img{
    color: purple;
    height: 95%;
    width: 94%;
    position: relative;
    top: 10px;
    left: 10px;


  }
  h2{
    color:#4a148c;
    font-size: 20px;
    text-align: justify;


  }
  
}
